.place__trash-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 18px;
  height: 19px;
  background-image: url('../../../images/trash.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
