.profile {
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  gap: 30px;
  justify-items: start;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .profile {
    grid-template-columns: 1fr;    
  justify-items: center;
  }
}