.logo {
  width: 142px;
  height: 33px;
  background: center / contain no-repeat url('../../images/logo.svg');
}

.logo:hover {
  background-image: url('../../images/logo-black.svg');
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .logo {
    width: 104px;
  }
}
