.profile__name {
  min-width: 190px;
  max-width: 505px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;  
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .profile__name {
    max-width: 250px;
    font-size: 27px;
    line-height: 1.22;
    text-align: center;
  }
}