@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');


.page {  
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #000;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page__header {
  margin: 45px 200px 40px 200px;
}

@media screen and (max-width: 1279px) {
  .page__header {
    margin: 28px 0 42px 0;
  }
}

.logo {
  width: 100%;
  height: 74px;
  border-bottom: solid 1px #545454;
}

@media screen and (max-width: 1279px) {
  .logo {
    height: 56px;
  }
}

.logo__image:hover { 
  cursor: pointer; 
}

.logo__image:hover path { 
  fill: #000;
}

@media screen and (max-width: 1279px) {
  .logo__image {
    width: 103.7px;
    margin-left: 27px;
  }
}

.page__content {
  margin: 0 200px 66px 200px;
}

@media screen and (max-width: 1279px) {
  .page__content {
    margin: 0 19px 48px 19px;
  }
}

.profile {
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  gap: 30px;
  justify-items: start;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .profile {
    grid-template-columns: 1fr;    
  justify-items: center;
  }
}

.content__profile {
  margin-bottom: 50px;
}

@media screen and (max-width: 1279px) {
  .content__profile {
    margin-bottom: 36px;
  }
}

.profile__avatar {
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 24px;
  gap: 13px 18px; /* в макете без учета хвоста У 16px */
  align-items: baseline;
  justify-items: start;
}

@media screen and (max-width: 1279px) {
  .profile__info {
    justify-items: center;
    gap: 14px 10px; 
  }
}

.profile__name {
  min-width: 190px;
  max-width: 505px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;  
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .profile__name {
    max-width: 250px;
    font-size: 27px;
    line-height: 1.22;
    text-align: center;
  }
}

.profile__profession {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 1279px) {
  .profile__profession {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}

.button {
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer; 
}

.button:hover {
  opacity: 0.6;
}

.button_type_edit {
  width: 24px;
  height: 24px;  
  background-image: url('../images/icon-edit.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: solid 1px #fff;
}

@media screen and (max-width: 1279px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
  }
}

.button_type_add {
  width: 150px;
  height: 50px;
  background-image: url('../images/icon-plus.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: solid 2px #fff;
}

@media screen and (max-width: 1279px) {
  .button_type_add {
    width: 282px;
    background-size: 16px 16px;
  }
}

.places {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  justify-content: center;
  max-width: 880px;
}

.content__places {  
  margin: 0 auto;
  margin-bottom: 67px;
}

@media screen and (max-width: 1279px) {
  .content__places {
    margin-bottom: 48px;
  }
}

.place {
  font-size: 0;
}

.place__image {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.place__info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 80px;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.place__name {
  max-width: 190px;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.place__like-icon {  
  width: 22px;
  height: 19px;
  background-image: url('../images/icon-heart.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.place__like-icon:hover {
  opacity: 0.5;
}

.place__like-icon:hover {
  opacity: 0.5;
}

.place__like-icon:active {
  opacity: 1;
  background-image: url('../images/icon-black-heart.png');
}


.footer {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}

@media screen and (max-width: 1279px) {
  .footer {
    font-size: 14px;
    line-height: 1.21;
  }
}

.page__footer {
  margin: 0 200px 60px 200px;
}


@media screen and (max-width: 1279px) {
  .page__footer {    
  margin: 0 19px 36px 19px;
  }
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  display: flex;
}

.popup__container {
  position: relative;
  max-width: 430px;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 1279px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}

.button_type_close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url('../images/icon-close.png');
  background-size: contain;
  border: none;

}

@media screen and (max-width: 1279px) {
  .button_type_close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}


.form__heading {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
}

@media screen and (max-width: 1279px) {
  .form__heading {
    font-size: 18px; 
    margin-bottom: 75px;
  }
}

.form__input {
  width: 100%;
  height: 27px;
  box-sizing: border-box ;
  margin-bottom: 30px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
}

.form__input:last-of-type {
  margin-bottom: 48px;
}

.form__input:focus {
  outline: none;
}

@media screen and (max-width: 1279px) {
  .form__input:last-of-type {
    margin-bottom: 45px;
  }
}

.button_type_submit {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 18px;
  background-color: #000;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

.button_type_submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .button_type_submit  {
    padding: 14px;
    font-size: 14px;
  }
}